body {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    color: #074d57;
    font-size: 2.2rem;
    text-align: center;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    text-align: center;
}